<div class="list-group">
  {{#link-to "settings.user" class="list-group-item"}}<i class="fa fa-chevron-right pull-right"></i><i class="fa fa-user"></i> User{{/link-to}}
  {{#link-to "settings.mail" class="list-group-item"}}<i class="fa fa-chevron-right pull-right"></i><i class="fa fa-envelope"></i> Mail Server{{/link-to}}
</div>
