html, body {
  height: 100%;
}
body {
  background-image: url("images/texture.png");
}
.content, .right-side {
  background-color: transparent;
}
.header {
  .logo {
    font-family: "Neo Sans Intel";
    text-align: left;
    #logo-company {
      display: inline-block;
      height: 35px;
      margin: 7px 10px;
      vertical-align: top;
    }
  }
}
