html, body {
  height: 100%;
}
body {
  background-image: url("images/texture.png");
}
a {
  cursor: pointer;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}
.content, .right-side {
  background-color: transparent;
}
.navbar .nav > li > a.active {
  background-color: #367fa9;
  color: #ffffff;
}
.header {
  @logo-width: 450px;
  .logo {
    width: @logo-width;
    font-family: "Neo Sans Intel";
    text-align: left;
    #logo-company {
      display: inline-block;
      height: 35px;
      margin: 7px 10px;
      vertical-align: top;
    }
  }
  .navbar {
    height: 50px;
    margin-left: @logo-width;
  }
}
.right-side > .content-header {
  height: 50px;
}
.iframe-content-container{
  margin: 0;
  padding: 0;
  height: 100%;
}
.iframe-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.license-body {
  height:400px; 
  overflow:auto;
}
.actions-column {
  width: 150px;
  .btn {
    width: 130px;
  }
  .btn-group .btn {
    width: auto;
    &:first-child {
      width: 105px;
    }
  }
}
.col-md-6 {
  .transition(~"width 1s, opacity 1s");
}
.actions-column {
  opacity: 1;
  .transition(opacity 1s);
}
.infrastructure {
  .col-md-6:first-child {
    width: 65%;
  }
  .col-md-6:last-child {
    width: 35%;
    opacity: 0.5;
    cursor: pointer;
    .actions-column {
      display: none;
      opacity: 0;
    }
  }
}
.clouds {
  .col-md-6:first-child {
    width: 35%;
    opacity: 0.5;
    cursor: pointer;
    .actions-column {
      display: none;
      opacity: 0;
    }
  }
  .col-md-6:last-child {
    width: 65%;
  }
}
