<section class="content">
  <div class="row">
    <section class="col-md-12">
      <div class="alert alert-warning">
        <strong>Note:</strong> Please attach an SAA Appliance to a cluster to enable this application.
      </div>
    </section>
  </div>
</section>
