<section class="content">
  <div class="row">
    <section class="col-md-12" data-ember-action="5">
      <div class="alert alert-warning fade in">
        <strong>Notice:</strong> Please attach an SAA Appliance to a cluster before this embedded application will become enabled.
      </div>
    </section>
  </div>
</section>