<div class="wrapper skin-blue">
  <aside class="right-side strech">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Overview</small>
      </h1>
      <ol class="breadcrumb">
        <li>{{#link-to "application"}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <section class="col-md-6">
          {{render "app/infrastructure"}}
          {{!-- {{render "app/dashboard-vms"}} --}}
        </section>
        <section class="col-md-6">
          {{render "app/clouds"}}
          {{!-- {{render "app/nodes"}} --}}
        </section>
      </div>
    </section>
  </aside>
</div>
