<div class="wrapper skin-blue">
  <aside class="right-side strech">
    {{#if isFrameEnabled}}
      <iframe {{bind-attr src="iframeSrc"}} class="iframe-content"></iframe>
    {{/if}}
    <section class="content-header">
      <h1>
        Service Assurance
        <small>
          {{#if isFrameEnabled}}
            Cloud "{{cluster.name}}"
          {{else}}
            SAA Ingredient
          {{/if}}
        </small>
      </h1>
      <a href="#/app/ingredient" class="hint--top" data-hint="Open in new window" target="_blank">
        <i class="fa fa-external-link"></i>
      </a>
      <ol class="breadcrumb">
        <li>{{#link-to "application"}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li class="active">SAAappliance</li>
      </ol>
    </section>
  </aside>
</div>
{{#unless isFrameEnabled}}
  {{partial "app/-disabled-app"}}
{{/unless}}
