<div class="wrapper skin-blue">
  <aside class="right-side strech">
    <iframe {{bind-attr src="iframeSrc"}} class="iframe-content"></iframe>
    <section class="content-header">
      <h1>
        Orchestration
        <small>Mirantis Fuel
          <a href="#/app/orchestration" class="hint--top" data-hint="Open in new window" target="_blank">
              <i class="fa fa-external-link"></i>
          </a>
        </small>
      </h1>
      <ol class="breadcrumb">
        <li>{{#link-to "application"}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li class="active">Orchestration</li>
      </ol>
    </section>
  </aside>
</div>
