<div class="wrapper skin-blue">
  <aside class="right-side strech">
    <section class="content-header">
      <h1>
        About
        <small>
          Version &amp; License
        </small>
      </h1>
      <ol class="breadcrumb">
        <li>{{#link-to "application"}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li class="active">About</li>
      </ol>
    </section>
  </aside>
</div>
<section class="content">
  <div class="row">
    <section class="col-md-12" data-ember-action="5">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Version</h3>
        </div>
        <div class="box-body table-responsive">
          <p>Intel &reg; Datacenter Manager: Service Assurance Administrator (DCM: SAA)</p>
          <p>DCM: SAA Recipe: {{coVersion}}</p>
          <p>DCM: SAA Ingredient: {{saaVersion}}</p>
        </div>
      </div>
    </section>
    <section class="col-md-12">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">License</h3>
        </div>
        <div class="box-body license-body">
          <p>
            <strong>INTEL® DATACENTER MANAGER: SERVICE ASSURANCE ADMINISTRATOR</strong>
          </p>
          <p>
            <strong>END USER LICENSE AGREEMENT</strong>
          </p>
          <p>
            <strong>Document Version: May 2014 </strong>
          </p>
          <p class="alert alert-info">
              <strong>IMPORTANT</strong> - READ BEFORE INSTALLING OR USING.
          </p>
          <p>
              Do not download, install, or use the Intel Software provided under this license agreement (this “Agreement”) until you have carefully read the following
              terms and conditions. By downloading, installing, or using the Software, you agree to be bound by the terms of this Agreement. If you do not agree to the
              terms of this Agreement, do not download, install, or use the Software.
          </p>
          <p>
              These license terms are a legal agreement between you and Intel Corporation (“Intel”). This Agreement applies to any Updates (including new versions of the
              Software), except as described below.
          </p>
          <p>
              1. <u>DEFINITIONS</u>.<u></u>
          </p>
          <p>
              <u></u>
          </p>
          <p>
              a. "<u>Licensed Patent Claims</u>" means the claims of Intel's patents that are necessarily and directly infringed by the reproduction of the Software,
              when that Software is in its unmodified form as delivered to You and not modified, or combined with anything else. Licensed Patent Claims are only those
              claims which Intel can license without paying, or getting the consent of, a third party.
          </p>
          <p>
              b. “<u>Limited Purpose</u>” means the monitoring and management of OpenStack cloud infrastructure servers that use Intel processors.
          </p>
          <p>
              c. “<u>Open Source Software</u>” means any software that requires as a condition of use, modification and/or distribution of such software that such
              software or other software incorporated into, derived from or distributed with such software (a) be disclosed or distributed in source code form; (b) be
              licensed by the user to third Parties for the purpose of making and/or distributing derivative works; or (c) be redistributable at no charge. Open Source
              Software includes, without limitation, software licensed or distributed under any of the following licenses or distribution models, or licenses or
              distribution models substantially similar to any of the following: (a) GNU’s General Public License (GPL) or Lesser/Library GPL (LGPL), (b) the Artistic
              License (e.g., PERL), (c) the Mozilla Public License, (d) the Netscape Public License, (e) the Sun Community Source License (SCSL), (f) the Sun Industry
              Source License (SISL), and (g) the Common Public License (CPL).
          </p>
          <p>
              d. “<u>Software</u>” is defined as the Intel® Datacenter Manager: Service Assurance Administrator software and documentation. The term “Software” includes
              any Updates thereto, which Intel provides to you under this Agreement, including any renewal periods. Provided however, that any Update that is separately
              licensed, and subject to a separate license fee will not be considered part of the Software licensed hereunder, and instead will be governed by such
              separate license including applicable duration of such separate license. The Software enables management of OpenStack cloud infrastructure, and consists
              of: (i) Plug-In software for OpenStack Nova-scheduler to intercept machine placement; (ii) Controller Virtual Appliance that runs on a server with
              kernel-based virtual machine (KVM) and (iii) Node Agent that runs on host servers.
          </p>
          <p>
              e. “Update” has he meaning given in Section 9 (Updates) of this Agreement.
          </p>
          <p>
              <strong> </strong>
              <u></u>
          </p>
          <p>
              2. <u>LICENSES</u>.
          </p>
          <p>
              a. <u>COPYRIGHT LICENSE</u>. During the term of this Agreement, Intel grants you a non-exclusive, non-transferable license under its copyrights in the
              Software to (i) modify any portions of the Software that are provided in source code or text form; and (ii) reproduce and execute the Software and any
              modifications permitted under 2(a)(i) solely for the Limited Purpose. This license does not include the right to sublicense or distribute the Software.
          </p>
          <p>
              b. <u>LIMITED PATENT LICENSE</u>. During the term of this Agreement, Intel grants you a non-exclusive, non-transferable license under Intel’s Licensed
              Patent Claims to make copies of the Software internally only and use the Software internally. This license does not include the right to sublicense or
              distribute the Software.
          </p>
          <p>
              3. <u>SCOPE OF LICENSE</u>. Your use is further limited to the number of copies of Software licensed and any other restrictions agreed to in the order
              documentation for the Software. Title to the Software remains with Intel or its suppliers. The Software is non-exclusively licensed to you, not sold. You
              must comply with any technical limitations in the Software.
          </p>
          <p>
              4. <u>RESTRICTIONS</u>. You agree not to: (i) reverse engineer, decompile or disassemble any part of the Software, except only to the extent that
              applicable law expressly permits; (ii) use, copy, modify, create derivative works, sublicense, rent, lease, lend, sell, distribute, publicly perform,
              publicly display or transfer any part of the Software except as provided in this Agreement; (iii) use any part of the Software to try to gain unauthorized
              access to any data, account, network or other service by any means, or in any way that would harm or impair anyone else’s use thereof; (iv) transfer or
              assign any part of the Software or this Agreement to any third party; (v) use the Software in connection with service bureau, time-sharing, terminal
              sharing or other similar types of services; or (vi) mortgage, pledge or encumber the Software in any way.
          </p>
          <p>
              5. <u>NO IMPLIED LICENSES OR OTHER RIGHTS</u>. An essential basis of the bargain in this Agreement is that no licenses or other rights, including but not
              limited to patent and copyright licenses or rights, are granted to you by implication, estoppel or otherwise, except for the licenses expressly granted in
              the preceding paragraphs. Specifically, except for the licenses expressly granted in the preceding paragraphs, no licenses or other rights are granted by
              Intel, expressly or by implication, estoppel or otherwise:
          </p>
          <p>
              a. to make, use, sell, offer for sale, or import modifications of the Software,
          </p>
          <p>
              b. to sell or offer to sell the Software,
          </p>
          <p>
              c. to combine the Software or modified versions of the Software with other items or to use any such combination, or
          </p>
          <p>
              d. to any claims of any patents, patent applications, or other patent rights of Intel other than the Licensed Patent Claims.
          </p>
          <p>
              The consideration provided under this Agreement is only for the licenses expressly granted to you in the preceding paragraphs. Any other rights, including
              but not limited to additional patent rights, would require an additional license and additional consideration. Nothing in this Agreement requires or will
              be treated to require Intel to grant any such additional license.
          </p>
          <p>
              You acknowledge that there are significant uses of the Software in its original, unmodified and uncombined, form. The consideration for the license in this
              Agreement reflects Intel’s continuing right to assert patent claims against any modifications or derivative works (including, without limitation, error
              corrections and bug fixes) of, or combinations with, the Software that are made by you or third parties that infringe any Intel patent claim that is not a
              Licensed Patent Claim.
          </p>
          <p>
              6. <u>THIRD PARTY SOFTWARE</u>. The Software may contain the software or other property of third party suppliers, including Open Source Software, some of
              which may be identified in, and licensed in accordance with, any enclosed “license.txt” or “read me” file or other text or file. To the extent that any
              third-party end-user license agreement (“EULA”) is included with the Software or as an exhibit to this Agreement, that EULA will also apply to your use of
              the Software and you agree to be bound by its terms and conditions. The Software is copyrighted and protected by the laws of the United States and other
              countries, and international treaty provisions. You may not remove any copyright notices from the Software. Except as expressly provided in this Agreement,
              no license or right is granted to you directly or by implication, inducement, estoppel or otherwise. Except as stated in this Agreement, Intel does not
              grant any express or implied right to you under Intel patents, copyrights, trademarks, or trade secret information.
          </p>
          <p>
              <u></u>
          </p>
          <p>
              7. <u>UNAUTHORIZED USE</u>. THE SOFTWARE IS NOT DESIGNED, INTENDED, OR AUTHORIZED FOR USE IN ANY TYPE OF SYSTEM OR MANNER IN WHICH THE FAILURE OF THE
              SOFTWARE OR APPLICATION COULD CREATE A SITUATION WHERE ENVIRONMENTAL DAMAGE, PERSONAL INJURY OR DEATH MAY OCCUR (E.G MEDICAL SYSTEMS, LIFE SUSTAINING OR
              LIFE SAVING SYSTEMS). Should you use the Software or any related application for any such unintended or unauthorized use, you agree to indemnify and hold
              Intel and its officers, subsidiaries and affiliates harmless against all claims, costs, damages, and expenses, and reasonable attorney fees arising out of,
              directly or indirectly, any claim of product liability, personal injury or death associated with such unintended or unauthorized use, even if such claim
              alleges that Intel was negligent regarding the design or manufacture of the Software.
          </p>
          <p>
              8. <u>PRIVACY</u>. Intel is committed to respecting your privacy. Our personal information handling practices are outlined at
              <a href="http://www.intel.com/content/www/us/en/privacy/intel-online-privacy-notice-summary.html">
                  http://www.intel.com/content/www/us/en/privacy/intel-online-privacy-notice-summary.html
              </a>
          </p>
          <p>
              9. <u>UPDATES</u>. The Software may automatically download and install updates from time to time from Intel (“Updates”). These Updates are designed to
              improve, enhance and further develop the Software, and may take the form of bug fixes, enhanced functions, new software modules and completely new
              versions. You agree that Intel may deliver such Updates to you.
          </p>
          <p>
              10. <u>CONFIDENTIALITY</u>. The Software includes confidential information of Intel. You may not reveal, disclose or distribute the Software in any form,
              or display it publicly, or use it or any information relating to it except for the purposes of this Agreement. You may only disclose the Software to your
              employees whose duties require such access and who are obligated to maintain the Software in confidence. This obligation of confidentiality shall not apply
              to information which is shown by contemporaneous documentation to be (i) rightfully you to the public other than by breach of this Agreement by you; (ii)
              rightfully received by you from a third party without breach of a duty to Intel; (iii) independently developed by your employees without access to the
              Software; or (iv) rightfully known to you prior to first receipt from Intel.
          </p>
          <p>
              11. <u>FEEDBACK</u>. In the event that you provide Intel with any comments or suggestions for the modification, correction, improvement or enhancement of
              the Software (collectively “Feedback”), then you hereby grant to Intel a non-exclusive, irrevocable, worldwide, royalty-free license, with the right to
              sublicense, Intel’s licensees and customers, under your intellectual property rights in and to the Feedback: (i) to use and disclose such comments and
              suggestions in any manner Intel chooses and (ii) to display, perform, copy, make, have made, use, sell, and otherwise dispose of Intel's and its
              sublicensees’ products embodying such comments and suggestions in any manner and via any media Intel chooses, without reference to the source.
          </p>
          <p>
              <u></u>
          </p>
          <p>
              12. <u>EXCLUSION OF WARRANTIES</u>. THE SOFTWARE AND ANY SERVICES PROVIDED IN CONNECTION THEREWITH ARE PROVIDED "AS IS" AND WITH ALL FAULTS. YOU ASSUME AND
              BEAR ALL RISKS ASSOCIATED WITH THE DOWNLOAD, INSTALLATION AND USE OF THE SOFTWARE AND ANY SERVICES IF APPLICABLE. INTEL PROVIDES NO WARRANTY OF ANY KIND
              WITH RESPECT TO THE SOFTWARE OR APPLICABLE SERVICES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY OF MERCHANTABILITY, NONINFRINGEMENT OF
              INTELLECTUAL PROPERTY RIGHTS, FITNESS FOR A PARTICULAR PURPOSE, OR ANY WARRANTY OTHERWISE ARISING OUT OF ANY PROPOSAL, SPECIFICATION OR SAMPLE. Intel does
              not warrant or assume responsibility for the accuracy or completeness of any information, text, graphics, links or other items contained within the
              Software. Intel does not warrant that your use of the Software will be uninterrupted or error-free, nor that defects in the Software will be corrected. You
              may have additional consumer rights under local laws in your jurisdiction which this agreement cannot change.
          </p>
          <p>
              13. <u>LIMITATION OF LIABILITY</u>.
          </p>
          <p>
              a. TO THE EXTENT NOT PROHIBITED BY LAW, IN NO EVENT WILL INTEL OR ITS SUPPLIERS BE LIABLE FOR ANY DAMAGES WHATSOEVER IN CONNECTION WITH THIS AGREEMENT,
              WHETHER ARISING FROM LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF USE, LOSS OR CORRUPTION OF DATA, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR SPECIAL
              DAMAGES, ARISING OUT OF THE USE OF OR INABILITY TO USE THE SOFTWARE, IRRESPECTIVE OF THE THEORY OF LIABILITY, REGARDLESS OF WHETHER INTEL HAS ADVANCE
              NOTICE OF THE POSSIBILITY OF SUCH DAMAGES.
          </p>
          <p>
              b. IN NO EVENT WILL INTEL’S TOTAL CUMULATIVE LIABILITY TO YOU ARISING FROM THIS AGREEMENT EXCEED THE SUM PAID BY YOU FOR THIS LICENSE.
          </p>
          <p>
              c. THE WARRANTY DISCLAIMER AND LIMITATIONS ON LIABILITY ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN INTEL AND YOU. INTEL WOULD NOT BE ABLE
              TO PROVIDE THE SOFTWARE WITHOUT SUCH LIMITATIONS. SOME JURISDICTIONS MAY PROHIBIT EXCLUSION OR LIMITA­TION OF LIABILITY FOR IMPLIED WARRANTIES (IF ANY) OR
              CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITA­TION MAY NOT APPLY TO YOU IN ITS ENTIRETY. YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM
              JURISDICTION TO JURISDICTION.
          </p>
          <p>
              14. <u>TERMINATION OF THIS AGREEMENT</u>. This Agreement becomes effective on the date you first download, install or use the Software, and will continue
              for a period of one year. Upon payment of applicable renewal fees, this Agreement will renew for subsequent one (1) year periods, unless either party
              terminates for convenience or cause as provided in this Agreement. Intel may terminate this Agreement at any time by written notice to you in the event you
              commit a material breach that remains uncured after thirty days written notice. You may terminate this Agreement at any time by deleting the Software from
              your computer or server. Upon any expiration or termination of this Agreement, your license to use the Software will automatically end, and you must
              immediately cease using and delete the Software. Sections 10 (Confidentiality), 11 (Feedback), 12 (Exclusion of Warranties), 13 (Limitation of Liability),
              17 (Applicable Law) and this Section 14 (Termination of this Agreement) shall survive any expiration or termination of this Agreement.
          </p>
          <p>
              15. <u>TRADE COMPLIANCE</u>. You must comply with all laws and regulations of the United States and other countries governing the export, re-export,
              import, transfer, distribution, use, and servicing of Software. In particular, You must not: (a) sell or transfer Software to a country subject to
              sanctions, or to any entity listed on a denial order published by the United States government or any other relevant government; or (b) use, sell, or
              transfer Software for the development, design, manufacture, or production of nuclear, missile, chemical or biological weapons, or for any other purpose
              prohibited by the United States government or other applicable government; without first obtaining all authorizations required by all applicable laws.
          </p>
          <p>
              16. <u>U.S. GOVERNMENT RIGHTS</u>. The Software is a “Commercial Item” as that term is defined at FAR 2.101, consisting of “Commercial Computer Software”
              and “Commercial Computer Software Documentation”, as such terms are used in FAR 12.212 and FAR 227.7202. Consistent with these regulations, the Software is
              being licensed to United States Government end users (i) only as Commercial Items and (ii) with only those rights as are granted to all other end users
              pursuant to the terms and conditions herein. Use of the Software by the United States Government constitutes acknowledgment and agreement to abide by these
              terms and conditions.
          </p>
          <p>
              17. <u>APPLICABLE LAWS; ENTIRE AGREEMENT</u>. Claims arising under this Agreement will be governed by the laws of the State of Delaware, excluding its
              principles of conflict of laws and the United Nations Convention on Contracts for the Sale of Goods. You agree that all disputes and litigation regarding
              this Agreement and matters connected with its performance will be subject to the exclusive jurisdiction of the courts of the State of Delaware or of the
              Federal courts sitting therein. Intel is not obligated under any other agreements unless they are in writing and signed by an authorized representative of
              Intel.
          </p>

          <p>
            This product includes software from The Codehaus (http://www.classworlds.codehaus.org/).
          </p>
          <p>This product includes PHP software, freely available from http://www.php.net/software/ </p>
          <p>This product includes software developed by the OpenSSL Project for use in the OpenSSL Toolkit. (http://www.openssl.org/)</p>
        </div>
      </div>
    </section>
  </div>
</section>
