<div class="box box-success">
  <div class="box-header">
    <i class="fa fa-desktop"></i>
    <h3 class="box-title">Hardware</h3>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th class="actions-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><abbr title="Intel&reg; Datacenter Manager: Service Assurance Administrator">SAA</abbr> host</td>
          <td>{{coVersion}}</td>
          <td class="actions-column">
            <div class="btn-group">
              <button {{action "reboot"}} type="button" class="btn btn-sm btn-success">Reboot</button>
              <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a {{action "shutdown"}} href>Shutdown</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
