<header class="header skin-blue">
  <div class="brand logo">
    <img id="logo-company" src="assets/images/logo-intel-white.svg" alt="Intel">
    DCM: Service Assurance Administrator
  </div>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown messages-menu">
          {{#link-to 'orchestration'}}<i class="fa fa-music"></i> Orchestration {{/link-to}}
        </li>
        <li class="dropdown messages-menu">
          {{#link-to 'saa-appliance'}}<i class="fa fa-bar-chart-o"></i> SAAappliance {{/link-to}}
        </li>
        <li class="dropdown user user-menu">
          <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            <span>User</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
