<header class="header skin-blue">
  <div class="brand logo">
    <img id="logo-company" src="assets/images/logo-intel-white.svg" alt="Intel">
    DCM: SAA
  </div>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown messages-menu">
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="label label-success">4</span>Orchestration</a>
        </li>
        <li class="dropdown tasks-menu">
          <a href="#">
            <i class="fa fa-tasks"></i> SAAappliance
            <span class="label label-danger">9</span>
          </a>
        </li>
        <li class="dropdown user user-menu">
          <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            <span>User</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
