<header class="header skin-blue">
  <div class="brand logo">
    <img id="logo-company" src="assets/images/logo-intel-white.svg" alt="Intel">
    DCM: Service Assurance Administrator
  </div>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li><a {{action "goToInfrastructure"}} {{bind-attr class="isInfrastructure:active"}}><i class="fa fa-desktop"></i> Infrastructure</a></li>
        <li><a {{action "goToClouds"}} {{bind-attr class="isClouds:active"}}><i class="fa fa-cloud"></i> Clouds</a></li>
        <li>{{#link-to "orchestration"}}<i class="fa fa-music"></i> Orchestration{{/link-to}}</li>
        <li>{{#link-to "saa-appliance"}}<i class="fa fa-bar-chart-o"></i> SAAappliance{{/link-to}}</li>
        <li class="user">
          <a>
            <i class="glyphicon glyphicon-user"></i>
            <span>User</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
