<div class="wrapper skin-blue">
  <aside class="right-side strech">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li>{{#link-to "application"}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <section class="col-md-6">
          <h2>Infrastructure</h2>
          {{render "cloudController"}}
          {{render "vms"}}
        </section>
        <section class="col-md-6">
          <h2>Clouds</h2>
          {{render "clusters"}}
          {{render "ipms"}}
        </section>
      </div>
    </section>
  </aside>
</div>
