<div class="wrapper skin-blue">
  <aside class="right-side strech">
    <iframe {{bind-attr src="iframeSrc"}} class="iframe-content"></iframe>
    <section class="content-header">
      <h1>
        SAAappliance
        <small><abbr title="Intel&reg; Datacenter Manager: Service Assurance Administrator">SAA</abbr> Ingredient</small>
      </h1>
      <ol class="breadcrumb">
        <li>{{#link-to "application"}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li class="active">SAAappliance</li>
      </ol>
    </section>
  </aside>
</div>
