<div class="form-box" id="login-box">
  <div class="header bg-light-blue">Sign In</div>
  <form {{action "login" on="submit"}}>
    <div class="body bg-gray">
      <div class="form-group">
        {{input value=username id="login-username" class="form-control" placeholder="Username" autofocus="autofocus"}}
      </div>
      <div class="form-group">
        {{input value=password id="login-password" class="form-control" type="password" placeholder="Password"}}
      </div>
      {{!--
      <div class="form-group">
        <input type="checkbox" name="remember_me"> Remember me
      </div>
      --}}
    </div>
    <div class="footer">
      {{#unless isPending}}
        <input class="btn btn-block btn-primary" type="submit" value="Sign in"></input>
      {{else}}
        <a class="btn btn-block btn-primary disabled"><i class="icon-spinner icon-spin"></i> Signing in...</a>
      {{/unless}}
    </div>
      {{!-- <p><a href="#">I forgot my password</a></p> --}}
    </div>
  </form>
</div>
