<div class="wrapper skin-blue">
  <aside class="right-side strech">
    <section class="content-header">
      <h1>
        Orchestration
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li>{{#link-to 'application'}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li class="active">Orchestration</li>
      </ol>
    </section>
    <div class="iframe-content-container">
      <iframe {{bind-attr src="iframeSrc"}} class="iframe-content"></iframe>
    </div>
  </aside>
</div>
