<div class="form-box">
  <div class="header bg-light-blue">Reset Password</div>
    <form {{action "resetPassword" on="submit"}}>
      <div class="body bg-gray">
        <div class="form-group">
          {{input value=username id="login-username" class="form-control" placeholder="Username" autofocus="autofocus"}}
        </div>
      </div>
      <div class="footer">
        {{#unless isActionPending}}
          <input class="btn btn-block btn-primary" type="submit" value="Send password to email"></input>
        {{else}}
          <a class="btn btn-block btn-primary disabled"><i class="fa fa-spinner fa-spin"></i> Sending password...</a>
        {{/unless}}
      </div>
    </form>
  </div>
</div>
