<div class="box box-success">
  <div class="box-header">
    <i class="fa fa-desktop"></i>
    <h3 class="box-title">Service VMs</h3>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>Status</th>
          <th>API</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each}}
          <tr>
            <td>{{description}}</td>
            <td>{{version}}</td>
            <td>{{stateDescription}}</td>
            <td>{{respondingMessage}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success">Restart</button>
                <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Start</a></li>
                  <li><a href="#">Stop</a></li>
                </ul>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
